{% extends "layout/base.html" %}

{% block content %}
<section id="welcome">
<div class="background-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center article-title">Welcome to WUR</h2>
                <hr>
                <p class="text-center">WUR is the acronym for World University Ranking.</br>
                This application displays the results yielded by a study carried out using university data from <a href="https://www.kaggle.com/mylesoneill/world-university-rankings" target="_blank">Kaggle.</a></br>
                Information is available in both tabular or graphical forms, which provides users with different vantage points with regard to data exploration.</br>
                Hopefully you will have fun while learning more about universities around the world.</p>
            </div>
        </div>
    </div>
</div>
</section>

<section id="tables">
<div class="background-black">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center article-title">Tables</h2>
                <hr>
                <div class="university-ranking-control"></div>
                <table id="univeristy-ranking-table" class="display table table-stripedtable-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>World</th>
                            <th>National</th>
                            <th>Id</th>
                            <th>Institution</th>
                            <th>Country</th>
                            <th>alumni_employment</th>
                            <th>broad_impact</th>
                            <th>citations</th>
                            <th>influence</th>
                            <th>patents</th>
                            <th>publications</th>
                            <th>quality_of_education</th>
                            <th>quality_of_faculty</th>
                            <th>Score</th>
                            <th>Year</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
</section>

<section id="graphs">
<div class="background-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center article-title">Graphs</h2>
                <hr>
                <div class="row" id="graphs-content">
                    <div class="graphs-bs">
                        <div id="treemap-top-countries"></div>
                        <div id="bar-top-countries"></div>
                        <div id="line-top-universities"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

<section id="about">
<div class="background-black">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center article-title">About</h2>
                <hr>
                <p class="text-center">The project arose from the need to visualize data in creative ways.</br>
                Interactive views corroborate the data analysis process.
                </p>
                <div class="row">
                    <a href="https://github.com/FredericoVieira/world-university-ranking"><i class="fa fa-2x fa-github"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock content %}

{% block js_assets %}
<script src="/static/js/index.js"></script>
{% endblock js_assets %}
