<header class="header">
<div class="container">
    <div class="row">
        <h1>World University Ranking</h1>
        <div>
            <ul class="list-inline">
                <li>
                    <a href="#" title="Home"><i class="fa fa-3x fa-home" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="#" title="Tables"><i class="fa fa-3x fa-table" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="#" title="Graphs"><i class="fa fa-3x fa-bar-chart" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a href="#" title="About"><i class="fa fa-3x fa-info" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>
</header>



