@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

body {
    font-family: 'Raleway', sans-serif;
    background-color: #000;
}

.header {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("/static/img/university-bg.jpg");
    background-position: 50% 70%;
    height:100%;
    min-height: 500px;
    color: #ccc;
    text-align: center;
    padding-top: 200px;
}

.header h1 {
    margin-bottom: 40px;
}

.header ul li {
    list-style-type: none;
    margin-right: 30px;
}

.header ul li i {
    color: #ccc;
}

.header ul li i:hover {
    color: #555;
}

.background-white {
    background-color: #fff;
}

.background-black {
    background-color: #000;
}

hr {
    width: 150px;
    color: #ccc;
    border-top: 1px solid #dadada;
}

#welcome h2 {
    font-size: 45px;
    line-height: inherit;
}

#welcome p {
    line-height: 30px;
    margin-bottom: 30px;
}

#tables .year-selector {
    float: right;
    width: 100px;
    height: 30px;
    margin-left: 10px;
}

#tables {
    color: #ccc;
}

#graphs .graphs-bs div {
    height: 700px;
    margin-bottom: 50px;
}

#about h2,
#about p {
    line-height: 30px;
    color: #ccc;
}

#about .row {
    text-align: center;
}

#about .row a {
    color: #ccc;
}

#about .row a:hover {
    color: #555;
}
